.svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
  color: currentColor;
}
.svg-icon svg,
svg.svg-icon {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
}
